<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Scanner</title>
    <link rel="stylesheet" href="homes.css">
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
   
</head>
<body>
    <%- include('../partials/header') %>
   <div id="entry">
        <form action="/signup">
            <button id="signupbtn">SignUp</button>
        </form>
        <form action="/signin">
            <button id="signinbtn">SignIn</button>
        </form>
        <img src="/pics/scanvector.jpg" id="myimg" height="450" width="500" alt="">
   </div>
   <div class="copy">
    <footer class="copyright">copyright © 2023 all rights reserved</footer>
</div>
</body>

</html>